/*  Main page stuff */
body {
    height: 100%;
    color: white;

    /* background image */
    background: url(misty_hills.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html {
  height: 100%;
}

/* 
 * Navbar Customization
 * _______________________________________
*/

/* General navbar-inner (part with buttons) - colorzilla code! */
.navbar-inner {
background: #006e2e; /* Old browsers */
background: -moz-linear-gradient(top, #006e2e 0%, #006e2e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006e2e), color-stop(100%,#006e2e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #006e2e 0%,#006e2e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #006e2e 0%,#006e2e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #006e2e 0%,#006e2e 100%); /* IE10+ */
background: linear-gradient(to bottom, #006e2e 0%,#006e2e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e2e', endColorstr='#006e2e',GradientType=0 ); /* IE6-9 */
}

/* Gets rid of border (looks bad) */
.navbar-inner{
  border: none;
}

/* standard navbar button*/
.navbar .nav > li > a {
    color: white;
    text-shadow: none;
    border-right: 1px solid rgb(42, 129, 51);
    border-radius: 2px;
}

/* Keep hover color of nabar white */
.navbar .nav > li > a:hover {
  color: white;
}

/* Color transition bizness for navbar buttons */
.navbar .nav li {
    transition: background-color .7s;
    -webkit-transition: background-color .7s;
    -moz-transition: background-color .7s;
    -o-transition: background-color .7s;
}

/* navbar hover */
.navbar .nav > :hover {
    color: white;
    background-color: rgb(65, 167, 56);
}

/* navbar active and active hover */
.navbar .nav > .active > a, .navbar .nav > .active > a:hover  {
    color: white;
    background-color: rgb(65, 167, 56);
}

/* Brand: TODO: make cooler */
.navbar .brand {
    color: rgb(255, 255, 255);
    text-shadow: none;
    letter-spacing: .2em;
    border-right: 1px solid rgb(107, 158, 113);
}

/* Formatting for nav button text */
.nav {
    letter-spacing: .1em;
    text-transform: lowercase;
    border-radius: 4px;
}

/* 
 * General page customization
 * _______________________________________
*/

/* Styling for primary page title */
.title-bar {
    font-size: 150%;
    height: 50px;
    margin-bottom: 60px;
    text-align: left;
    padding: 30px 0 0 1%;
    background-color: rgb(45, 224, 37);
    color: white;

    /*  transition */
    -webkit-animation: slidein 1s; /* Safari 4+ */
    -moz-animation:    slidein 1s; /* Fx 5+ */
    -o-animation:      slidein 1s; /* Opera 12+ */
    animation:         slidein 1s;
}

.wrap {
    min-height: 100%;
    position:relative;
}

.body {
  padding-bottom: 100px;
}

/* Wrapper around main, fixed content */
.main-content-container {
    width: 100%;
    min-height: 100%;
    position:relative;
}

/* Customization for welcome message */
#welcome {
    width: 60%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.footer {
    height: 50px; 
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgb(19, 19, 19);
    opacity: 0.9;
}

/* Main gutter on left side of the page */
.gutter {
    width: 10%;
    float: left;
    height: 1px;
}

/* Main page content div */
.main-container {
    /* positioning */
    margin: 0 auto;
    margin-bottom: 30px;

    /* size */
    width: 450px;

    /* appearance */
    padding: 1px 12px 8px 10px;
    background-color: rgb(19, 19, 19);
    opacity: .9;
    border-radius: 4px;
}

/* css hack for about page - main div was too short*/
.spacer {
    clear: both;
}

.about-container {
    width: 300px;
    float: left;
}

/* photo wrap styling */
.selfie-wrap {
    /* size */
    width: 100px;
    height: auto;

    /* position */
    float: left;
    margin-left: 30px;
    margin-top: 30px;

    /* appearance */
    box-shadow: 1px 1px 5px 0 rgb(30, 30, 30);
    border-radius: 20px;
}

/* sets image border radius*/
img.selfie {
    border-radius: 20px;
}

/* text appearance - spacing */
p {
    font-size: 130%;
    line-height: 1.3em;
}

/* Text positioning */
h3, h4, p {
    font-family: Expletus Sans;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}

/* link color */
a, a:hover {
    color: rgb(65, 221, 59);
}

a:visited {
    color: rgb(0, 255, 153);
}

ul.social-media li {
    display: inline;
}

/* contact form bizness */
.form-wrap {
  margin-left: 12px;
  margin-bottom: 20px;
}

.single-line-input {
    width: 400px;
}

.multi-line-input {
    width: 400px;
    height: 80px;

}

input[type="submit"] {
    display: block;
    color: rgb(68, 73, 66);;
    background-color: white;
    border-radius: 5px;
    border: none;
    width: 410px;
    margin-top: 20px;

    /* transition stuff (for :hover) */
    transition: background-color .8s;
    -webkit-transition: background-color .8s;
    -moz-transition: background-color .8s;
    -o-transition: background-color .8s;
}

input[type="submit"]:hover {
    color: white;
    background-color: rgb(82, 197, 72);
}

/*
 * Animation
 * _______________________________
*/

/* title bar slide in */
@-webkit-keyframes slidein {
  0%   {
    margin-left: -75%;
    width: 200%;
  }
  100% {
    margin-left: 0;
    width: 200%;
  }
}
@-moz-keyframes slidein {
  0%   {
    margin-left: -75%;
    width: 200%;
  }
  100% {
    margin-left: 1%;
    width: 200%;
  }
}
@-o-keyframes slidein {
  0%   {
    margin-left: -75%;
    width: 200%;
  }
  100% {
    margin-left: 1%;
    width: 200%;
  }
}
@keyframes slidein {
  0%   {
    margin-left: -75%;
    width: 200%;
  }
  100% {
    margin-left: 1%;
    width: 200%;
  }
}


